# ASSOCIATION RULES

# Importing necessary libraries and Loading the Dataset

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_excel('Online retail.xlsx')
data

     shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                                burgers,meatballs,eggs
1                                               chutney
2                                        turkey,avocado
3     mineral water,milk,energy bar,whole wheat rice...
4                                        low fat yogurt
...                                                 ...
7495                      butter,light mayo,fresh bread
7496  burgers,frozen vegetables,eggs,french fries,ma...
7497                                            chicken
7498                                 escalope,green tea
7499    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7500 rows x 1 columns]

# Data Pre-Processing

In [3]:
# Convert the data into a list of transactions
transactions = [transaction.split(',') for transaction in data]

In [4]:
# Display the first few transactions
print(transactions[:5])

[['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes', 'whole weat flour', 'yams', 'cottage cheese', 'energy drink', 'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad', 'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie', 'spinach', 'olive oil']]

In [5]:
#!pip install mlxtend
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [6]:
# Initialize the transaction encoder
te = TransactionEncoder()

In [7]:
# Fit and transform the transactions into an array format
te_ary = te.fit(transactions).transform(transactions)

In [8]:
# Convert the array into a DataFrame
basket = pd.DataFrame(te_ary, columns=te.columns_)

In [9]:
# Display the first few rows of the basket
print(basket.head())

   almonds  antioxydant juice  avocado  cottage cheese  energy drink  \
0     True               True     True            True          True

   frozen smoothie  green grapes  green tea  honey  low fat yogurt  \
0             True          True       True   True            True

   mineral water  olive oil  salad  salmon  shrimp  spinach  tomato juice  \
0           True       True   True    True    True     True          True

   vegetables mix  whole weat flour  yams
0            True              True  True

# Association Rule Mining

In [10]:
# Apply the Apriori algorithm
frequent_itemsets = apriori(basket, min_support=0.07, use_colnames=True)

In [11]:
# Display the frequent itemsets
print(frequent_itemsets.head())

   support             itemsets
0      1.0            (almonds)
1      1.0  (antioxydant juice)
2      1.0            (avocado)
3      1.0     (cottage cheese)
4      1.0       (energy drink)

In [ ]:
# Generate the association rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)

In [ ]:
# Display the rules
#print(rules.head())

In [ ]:
# Display the top 10 rules
#print(rules.head(10))

# Interview Questions (in word file)